<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <config>
    <add key="repositoryPath" value="C:/Users/elich/source/packages" />
    <add key="globalPackagesFolder" value="C:/Users/elich/source/packages" />
  </config>

  <settings>
    <repositoryPath>./packages</repositoryPath>
  </settings>

  <packageManagement>
    <add key="format" value="1" /> <!-- 0 = packages.config, 1 = PackageReference -->
    <add key="disabled" value="True" /> <!-- Don't show dialog to allow override of format setting -->
  </packageManagement>

  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

  <packageSources>
    <!-- Add the private NuGet package source for this solution -->
    <add key="Published Package Source" value=".\PublishedPackages" />
  </packageSources>
</configuration>